* {
  margin: 0px;
  box-sizing: border-box;
}

* {
  /* temporary layout only */
  /* border: 1px dotted red; */
}

body {
  height: 100vh;
  background-color: rgb(228, 229, 236);
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: min-content auto;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  background-color: deepskyblue;
  color: aliceblue;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: max-content auto; 
  grid-auto-rows: max-content;
  gap: 15px;
  padding: 15px 45px 15px 15px;
  font-weight: 700;
}

.sep {
  margin-top: 20px;
}

.header {
  grid-area: header;
  margin-bottom: 5px;
  background-color: white;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "projects announcements"
    "projects trending";
  gap: 15px;
  padding: 15px;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

.titled {
  display: grid;
  grid-template-rows: min-content auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.deck {
  display: grid;
  /* I want the flexibility here. */
  /* more width = more project cards side-by-side */
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.card {
  display: grid;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.26); 
  box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.26);
}

.shd {
  -webkit-box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.26); 
  box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.26);
}