* {
  margin: 0px;
  box-sizing: border-box;
}

/* Temporary layout stuff */
/* Add the class (x) on to things when needed */
.x
{
  border: 1px dotted red;
}
.x * {
  border: 1px dotted blue;
}

body {
  height: 100vh;
  background-color: rgb(228, 229, 236);
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: min-content auto;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  background-color: deepskyblue;
  color: aliceblue;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: max-content auto; 
  grid-auto-rows: max-content;
  gap: 15px;
  padding: 15px 45px 15px 15px;
  font-weight: 700;
}

.sep {
  margin-top: 20px;
}

.header {
  grid-area: header;
  margin-bottom: 5px;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 2fr;
  padding: 10px;
  gap: 10px;
}

.search  {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.search #search {
  background-color: rgb(228, 229, 236);
  border: none;
  height: 1.4rem;
  border-radius: 0.7rem;
  padding-left: 12px;
}

.alert {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  justify-content: center;
  gap: 20px
}

.username {
  font-weight: 700;
  white-space: nowrap;
}

.greet {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  font-weight: 700;
  column-gap: 10px;
  row-gap: 5px;
  padding: 5px;
}

.greet .icon-huge {
  grid-row: span 2;
}

.greet .greet-message {
  font-size: smaller;
}

.greet .username-full {
  font-size: large;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  align-items: center;
}

.blue-button {
  background-color: deepskyblue;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: medium;
  height: 2rem;
  border-style: none;
  border-radius: 1rem;
  cursor: pointer;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "projects announcements"
    "projects trending";
  gap: 15px;
  padding: 15px;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.deck {
  display: grid;
  /* I want the flexibility here. */
  /* more width = more project cards side-by-side */
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.deck .card {
  display: grid;
  grid-template-columns: auto min-content min-content min-content;
  grid-template-rows: 2fr 5fr 3fr;
}

.card {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.26); 
  box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.26);
  padding: 20px 10px 10px 20px;
}

.trending {
  grid-area: trending;
}

.trending > .card {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.trend {
  display: grid;
  grid-template-areas: 
    "icon uid"
    "icon app-name";
  grid-template-columns: 60px auto;
  font-weight: 400;
}

.trend > .icon {
  grid-area: icon;
  place-self: center;
}

.trend > .uid {
  grid-area: uid;
  align-self: self-end;
}

.trend > app-name {
  grid-area: app-name;
}

.titled {
  display: grid;
  grid-template-rows: min-content auto;
  margin-top: 10px;
  margin-bottom: 5px;
  gap: 10px;
  font-weight: 700;
}

.card .card-title,
.card .full-width {
  grid-column: 1 / -1;
}

.card-title {
  font-weight: 700;
  align-self: self-end;
}

.gr {
  /* grey colour */
  color: rgb(155, 155, 155);
}

.wgt4 {
  font-weight: 400;
}

.grey-normal {
  color: red;
}

.icon {
  place-self: center;
}

.shd {
  -webkit-box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.26); 
  box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.26);
}

/* attempt: yellow trim for cards */
/* this does not work */
/* First issue is that it overrides the existing shadow, */
/* second issue is that it inherits the roundedness. */
/* Try it with an image? */
/* .trim {
  -webkit-box-shadow: inset 5px 0px 0px 0px #FFC700; 
  box-shadow: inset 5px 0px 0px 0px #FFC700;
} */
